extends /layout/_layout
//- App Shell!

block head
	//static binding ex:
	title #{title}

block main
	script(src='//cdn.jsdelivr.net/npm/split.js@1.3.5/split.min.js')
	p
	br
	p
	#mForm1
		input#page1(type='text', name='page', placeholder='blog')
		div
			input(type='text', name='secret', placeholder='123')
			input(type='text', name='fn', placeholder='index.html')
	p

	div.splitCont
		#left.split.split-horizontal
			include list

		#right.split.split-horizontal
			include zoom

	p
	hr
	button#saveEdits.ui.button(type='submit') Save

	script.

		function getPage() {
			return $('#mForm1 [name="page"]').val()
		}
		function getSecret() {
			return $('#mForm1 [name="secret"]').val()
		}
		function setFN(fn) {
			 $('#mForm1 [name="fn"]').val(fn)
		}
		function getFN() {
			return $('#mForm1 [name="fn"]').val()
		}

		let split = Split(['#left', '#right'], {
			sizes: [25, 75],
			minSize: [120, 300]
		})

		loadjs.ready('style', function () {
			console.log('page x script here')
		})

	style.
		body {
			overflow:hidden;
		}

		#page1 {
			width: 99%
		}

		.splitCont {
			width: calc(100% - 30px);
			height: calc(100vh - 220px);

			border: 2px solid #ddd;
			border-radius: 5px;
		}

		.split {
			-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
						box-sizing: border-box;

			max-height: 100%;

			overflow-y: auto;
			overflow-x: auto;
		}

		.gutter {
			background-color: #eee;
			background-repeat: no-repeat;
			background-position: 50%;
		}

		.gutter.gutter-horizontal {
			background-image: url('assets/vertical.png');
			cursor: ew-resize;
		}

		.split.split-horizontal, .gutter.gutter-horizontal {
			height: calc(100vh - 224px);
			float: left;
		}