

textarea#cms1(rows='4', autofocus='')

script.
	loadjs.ready('site', function () {
		/*
			,'//cdn.jsdelivr.net/npm/codemirror@5.37.0/theme/solarized.css'
			,'//cdn.jsdelivr.net/npm/codemirror@5.37.0/mode/markdown/markdown.js'
			,'//cdn.jsdelivr.net/npm/codemirror@5.37.0/mode/yaml/yaml.js'
			,'//cdn.jsdelivr.net/npm/codemirror@5.37.0/keymap/sublime.js'
		*/
		loadjs([
			 '//cdn.jsdelivr.net/npm/codemirror@5.37.0/lib/codemirror.css'

			,'//cdn.jsdelivr.net/npm/codemirror@5.37.0/lib/codemirror.min.js'
			,'//cdn.jsdelivr.net/npm/codemirror@5.37.0/mode/pug/pug.js'

		], 'cm', { // bundle ID
			async: false //required due to loadjs bug with bundles
		})//load
	})//ready
	loadjs.ready('cm', function () {
		initCodeMirror()
	})//ready

	let myCodeMirror
	function initCodeMirror() {
		myCodeMirror = CodeMirror.fromTextArea(
					document.querySelector('#cms1') ,
					{
						 mode:  'pug'
						, lineNumbers: true
						, tabSize: 3
						, indentWithTabs: true
						//, theme: 'neat'
						//, keyMap: 'sublime'
						, v1iewportMargin: 'Infinity'
					}
			)
		myCodeMirror.setSize('100%', '100%')

	}// initCM()

