extends /plugin/_layout
//- App Shell

block head
	//static binding ex:
	title #{title}

block main
	script(src='//cdn.jsdelivr.net/npm/split.js@1.3.5/split.min.js')
	p
	div.ui
		#left
			p o hi
		#right
			p o hi

	script.
		let split = Split(['#left', '#right'], {
			sizes: [20, 80],
			minSize: [100, 300]
		})

		loadjs.ready('style', function () {
			console.log('page x script here')
		})

	style.
		
