
//side
.ui.fixed.vertical.inverted.sidebar.menu.visible
	a.active.item(href='/form')
		i.left.icon.star
		| Form
	a.item(href='/up')
		i.left.icon.book
		| Upload

//top
.ui.fixed.inverted.menu
	.ui.container
		.item Meta Bake Admin

style.
	* {
		letter-spacing: .05em !important;
	}

	.ui.menu {
		height: 1.5em !important;
	}

	.pusher {
		margin-top: 1.5em;
		margin-left: 250px;
	}

